.home-container {
    padding: 20px;
    text-align: center;
    font-family: 'Helvetica';
}

/* Estilo do menu de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.login-icon a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.login-icon a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilo das seções de sensores */
.sensor-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.sensor-section {
    display: flex;
    align-items: center;
    padding: 20px;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    width: 50%;
}

.sensor-section.left {
    flex-direction: row;
}

.sensor-section.right {
    flex-direction: row-reverse;
}

.sensor-section img {
    width: 300px;
    height: 300px;
    margin: 0 20px;
    /* align-items: center; */
}

.sensor-section p {
    font-size: 1rem;
    color: #333;
    max-width: 60%;
    text-align: justify;
    font-family: 'Helvetica';
}
